.front {
  height: 100%;
  .section {
    height: 100%;
  }
}
#one {
  background: url(http://cloud.niklausgerber.com/432W0y1g2h05/orange.png) center center no-repeat scroll #FF905E;
}

#two {
  background: url(http://cloud.niklausgerber.com/1a2n2I3J1h0M/red.png) center center no-repeat scroll #8F2041;
}

#three {
  background: url(http://cloud.niklausgerber.com/1X180T1X2v3d/dark-orange.png) center center no-repeat scroll #DC554F;
}

#four {
  background: url(http://cloud.niklausgerber.com/1b0r2D2Z1y0J/dark-red.png) center center no-repeat scroll #520E24;
}

#five {
  background: url(http://cloud.niklausgerber.com/2N002H122B0d/yellow.png) center center no-repeat scroll #FFDB77;
}