
.gridBack {
  position: fixed;
  top: 80px;
  left: 10px;
  display: block;
  background: url('./backarrow.png') no-repeat center center;
  background-size: contain;
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  opacity: 1;
  z-index: 2000;
  filter: contrast(100%) brightness(100%);
  -webkit-transition: 0.5s -webkit-filter linear;
  -moz-transition: 0.5s -moz-filter linear;
  -moz-transition: 0.5s filter linear;
  -ms-transition: 0.5s -ms-filter linear;
  -o-transition: 0.5s -o-filter linear;
  transition: 0.5s filter linear;
  &:hover {
    filter: contrast(100%) brightness(180%);
  }
}
