.containerNotFound {
    margin-top: 6vw;
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    min-height: 500px;
    background-color: #5497b7;    
    #notFoundText {
        position: absolute;
        display: block;
        top: 0px;
        left: 2%;
        width: 40%;
        z-index: 100;
    }
    #upset {
        display: block;
        height: 500px;
        width: 500px;
        position: absolute;
        top: -10%;
        right: 20%;
        background-size: cover;
        z-index: 99;
    }
}