.arrowNav {
  position: fixed;
  right: 5px;
  top: 50%;
  opacity: .7;
  z-index: 3;
  .arrowUp {
    background: url('./slideup.png') no-repeat center center !important;
    display: block;
    opacity: 1;
    margin-top: 0px;
  }
  .arrowDown {
    background: url('./slidedown.png') no-repeat center center !important;
    display: block;
    opacity: 1;
    margin-top: 38px;
  }
  .baseArrow {
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    padding: 0;
    border: none;
    outline: 0;
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    filter: drop-shadow(1px 1px 1px #222);
  }
  .counter {
    color: white;
    margin-left: -10px;
    margin-top: -48px;
    font-family: 'Quicksand', sans-serif;
    width: 44px;
    text-shadow: 1px 1px 1px #000000;
  }
}

@media only screen and (max-width: 600px) {
  .arrowNav {
    position: fixed;
    right: 45%;
    bottom: 0%;
    opacity: 0.9;
    top: auto;
    .baseArrow {
      display: none;
    }
    .counter {
      margin-top: -38px;
      margin-right: -12px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .arrowNav {
    .counter {
      font-size:10px;
      margin-top: -20px;
      margin-right: -20px;
    }
  }
}
