.arrowNav {
  position: fixed;
  right: 5px;
  top: 50%;
  opacity: .7;
  .arrowUp {
    background: url('./slideup.png') no-repeat center center !important;
    display: block;
    opacity: 1;
    margin-top: 0px;
  }
  .arrowDown {
    background: url('./slidedown.png') no-repeat center center !important;
    display: block;
    opacity: 1;
    margin-top: 38px;
  }
  .baseArrow {
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    padding: 0;
    border: none;
    outline: 0;
  }
  .counter {
    color: white;
    margin-left: -10px;
    margin-top: -48px;
    font-family: 'Quicksand', sans-serif;
  }
}
