.sectionText {
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  color: white;
  background: #2989d8; /* Old browsers */
  background: -moz-linear-gradient(top, #2989d8 0%, #5497b7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2989d8 0%,#5497b7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2989d8 0%,#5497b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#5497b7',GradientType=0 ); /* IE6-9 */
  .inner {
    width: 80%;
    margin-left: 10%;
    .header {
      padding-top: 3%;
      font-weight: 400;
      font-style: normal;
      font-family: 'Quicksand', sans-serif;
      font-size: 26px;
      text-transform: uppercase;
      color: #f1c13b;
    }
    .main {
      margin-top: 3%;
      font-family: 'Didact Gothic', sans-serif;
      font-size: 18px;
      letter-spacing: 1.5px;
    }
    .tagsTitle {
      color: #f1c13b;
      text-transform: uppercase;
      font-size: 26px;
      margin-top: 3%;
      font-weight: 400;
      font-style: normal;
      font-family: 'Quicksand', sans-serif;
    }
    .tags {
      text-transform: uppercase;
      font-family: 'Quicksand', sans-serif;
      color:rgb(255, 255, 255);
      font-weight: bold;
    }
  }
}
