.projects {
  height: 100%;
  background: rgba(84,152,183,1);
  background: -moz-linear-gradient(top, rgba(84,152,183,1) 0%, rgba(84,152,183,1) 90%, rgba(84,152,183,0.9) 91%, rgba(147,206,222,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(84,152,183,1)), color-stop(90%, rgba(84,152,183,1)), color-stop(91%, rgba(84,152,183,0.9)), color-stop(100%, rgba(147,206,222,0)));
  background: -webkit-linear-gradient(top, rgba(84,152,183,1) 0%, rgba(84,152,183,1) 90%, rgba(84,152,183,0.9) 91%, rgba(147,206,222,0) 100%);
  background: -o-linear-gradient(top, rgba(84,152,183,1) 0%, rgba(84,152,183,1) 90%, rgba(84,152,183,0.9) 91%, rgba(147,206,222,0) 100%);
  background: -ms-linear-gradient(top, rgba(84,152,183,1) 0%, rgba(84,152,183,1) 90%, rgba(84,152,183,0.9) 91%, rgba(147,206,222,0) 100%);
  background: linear-gradient(to bottom, rgba(84,152,183,1) 0%, rgba(84,152,183,1) 90%, rgba(84,152,183,0.9) 91%, rgba(147,206,222,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5498b7', endColorstr='#93cede', GradientType=0 );
  .section {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgba(84,152,183,1);
    .cards {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      /*grid-template-columns: repeat(auto-fill, minmax(200px 1fr));*/
      grid-gap: 0px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .projects {
    .section {
      .grid {
        grid-template-columns: repeat(1,1fr);
      }
    }
  }
}