

.home {
  dd {
    margin-bottom: 15px;
  }
}
.section {
  position: relative;
  top: 50vw;
  left: 0;
}
$cyan: blue;
$humility: blue;
.masthead {
  background: #2d2d2d;
  padding: 40px 20px;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100vw;
  width: 100%;
  .mastheadCopy {
    position: relative;
    z-index: 10;
    top: 18vw;
    .logo {
      $size: 200px;
      margin: auto;
      height: $size;
      width: $size;
      border-radius: $size / 2;
      border: 1px solid $cyan;
      box-shadow: inset 0 0 10px $cyan;
      vertical-align: middle;
      p {
        line-height: $size;
        margin: 0px;
      }
      img {
        width: 75%;
        margin: auto;
      }
    }
    h1 {
      color: $cyan;
      font-size: 4em;
    }
    h2 {
      color: #ddd;
      font-size: 2em;
      margin: 20px;
    }
    a {
      color: #ddd;
    }
    p {
      margin: 10px;
    }
    .humility {
      color: $humility;
      a {
        color: $humility;
      }
    }
    .github {
      font-size: 1.5em;
    }
  }
  .mastheadVideo {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    opacity:0.3;
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}
