.divider {
  display: block;
  width: 100%;
  min-height: 20vw;
  pointer-events: none;
  // opacity: 0.3;
}
.orange {
  background: -moz-linear-gradient(top,#e2764c 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0) 68%);
  background: -webkit-linear-gradient(top, #e2764c 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0) 68%);
  background: linear-gradient(to bottom, #e2764c 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0) 68%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2764c', endColorstr='#00ffffff',GradientType=0 );
}
.blue {
  background: -moz-linear-gradient(top, rgb(83, 135, 248) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0) 68%);
  background: -webkit-linear-gradient(top, rgb(83, 135, 248) 0%, rgba(255,255,255,0) 1%,rgba(255,255,255,0) 68%);
  background: linear-gradient(to bottom, rgb(83, 135, 248) 0%, rgba(255,255,255,0) 1%,rgba(255,255,255,0) 68%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b453', endColorstr='#00ffffff',GradientType=0 );
}
.white {
  background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0) 68%);
  background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 1%,rgba(255,255,255,0) 68%);
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 1%,rgba(255,255,255,0) 68%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b453', endColorstr='#00ffffff',GradientType=0 );
}

@media only screen and (max-width: 600px) {
  .divider {
    min-height: 30vw;
  }
}