.divider {
  display: block;
  width: 100%;
  min-height: 20vw;
  pointer-events: none;
  background: -moz-linear-gradient(top, rgba(248,180,83,1) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,0) 68%);
  background: -webkit-linear-gradient(top, rgba(248,180,83,1) 0%,rgba(255,255,255,0) 3%,rgba(255,255,255,0) 68%);
  background: linear-gradient(to bottom, rgba(248,180,83,1) 0%,rgba(255,255,255,0) 3%,rgba(255,255,255,0) 68%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b453', endColorstr='#00ffffff',GradientType=0 );
  opacity: 0.3;
}
@media only screen and (max-width: 600px) {
  .divider {
    min-height: 30vw;
  }
}