.mainHeader {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 4;
  width: 100%;
  padding-top: 7px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.4s, background-color 1.5s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Travels", sans-serif;
}
@media only screen and (max-width: 766px) {
  .mainHeader {
    padding-top: 25px;
  }
  .brandNormal {
    margin-top: -11px !important;
  }
  .brandScrolled {
    margin-top: -7px !important;
  }
}
.brand {
  position: absolute;
  top: -20px;
  left: 8px;
  display: inline-block;
  // background: url('./quartile-logo.png') no-repeat center center;
  // background-size: 80%;
  margin: 0 10px 0 0;
  transform: scale(1);
  transition: all 0.8s ease 0s;
}
.brandClick {
  position: absolute;
  top: -20px;
  left: -28px;
  background-color: black;
  width: 305px;
  height: 95px;
  z-index: 200;
  opacity: 0;
}
.brandScrolled {
  height: 95px;
  width: 180px;
  transform: scale(0.63);
  top: -8px;
}
.brandNormal {
  height: 85px;
  width: 220px;
}
.navButton {
    margin-top: 2px;
    margin-left: 9px;
    font-size: 16px;
    padding: 10px 25px 10px 25px;
    font-weight: 500;
    opacity: 0.97;
    background: #41C3B6;
    box-shadow: 0 2px 7px 0 rgba(69, 119, 126, 0.37);
    border-radius: 3px;
    border: none;
    color: #fff;
    margin-right: 4px;
  }

  .contactButton {
    font-size: 16px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #d02718;
    padding: 4px 12px;
    text-decoration: none;
    background: -moz-linear-gradient( center top, #f24537 5%, #c62d1f 100%);
    background: -ms-linear-gradient( top, #f24537 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #f24537), color-stop(100%, #c62d1f));
    background-color: #f24537;
    color: #ffffff;
    display: inline-block;
    text-shadow: 1px 1px 0px #810e05;
    -webkit-box-shadow: inset 1px 1px 0px 0px #f5978e;
    -moz-box-shadow: inset 1px 1px 0px 0px #f5978e;
    box-shadow: inset 1px 1px 0px 0px #f5978e;
  }
  .contactButton:hover {
    background: -moz-linear-gradient( center top, #c62d1f 5%, #f24537 100%);
    background: -ms-linear-gradient( top, #c62d1f 5%, #f24537 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #c62d1f), color-stop(100%, #f24537));
    background-color: #c62d1f;
  }
  .contactButton:active {
    position: relative;
    top: 1px;
  }

.openNav {
  max-height: 400px !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.openNav .mobileToggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  // background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0);
  background-color: rgba(0, 0, 0, 0);
}
.scroll {
  background-color: rgba(0, 0, 0, 0.2);
  // border-bottom: 1px solid rgba(255, 255, 255, 0.0);
  opacity: 1;
  top: -17px;
  nav ul a {
    font-size: 15px;
    position: relative;
    top: 1px; 
  }
  .navBar {
    margin-top: 6px !important;
  }
}
.loader {
  opacity: 1;
  transition: opacity 1s 0 ease;
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 2px;
  background-color: #ec8112;
  animation: loading 3s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%; opacity:0}
    20% {opacity: 1}
    50% {width: 30%;}
    70% {width: 70%;}
    80% {left: 50%;}
    95% {left: 120%;}
    to {left: 100%;; opacity:0}
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 75%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
  nav li {
    margin-top: 7px !important;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 22px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 30px;
  line-height: 1.5;
}
@media only screen and (max-width: 866px) {
  nav ul li {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 16px;
}

.mobileToggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #ffffff;
    display: block;
  }
}
@media only screen and (max-width: 766px) {
  .mobileToggle {
    display: block;
  }
  .scroll {
    .mobileToggle {
      margin-top: 15px;
      transform: scale(0.7);
    }
  }
}


.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

.navBar {
  font-family: 'Travels', sans-serif;
  color: #ffffff;
  margin-top: -8px;  
  font-weight: 500;
  font-size: 17px;
  -webkit-transition: margin-top 300ms ease-in;
  -moz-transition: margin-top 300ms ease-in;
  transition: margin-top 300ms ease-in;
  h1 {
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: 'Travels', sans-serif;
  }
  li {
    a {
      color: #ffffff;
      text-decoration: none;
      transition: all 1s;
      position: relative;
    }
    .activeNavButton {
      color: #ff3d59;
    }
    a:hover {
      color: #ff3d59;
    }
    a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -1px;
      left: 0;
      background-color: #ff3d59;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

* {
  box-sizing: border-box;
}
/*
p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}
*/
.content {
  padding: 50px 2% 250px;
}

.hero {
  position: relative;
  background: url(http://www.philippefercha.com/cd/toggle-menu-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  h1 {
    font-size: 50px;
    line-height: 1.3;
    span {
      font-size: 25px;
      color: #e8f380;
      border-bottom: 2px solid #e8f380;
      padding-bottom: 12px;
      line-height: 3;
    }
  }

}
.hero h1 {
}
.hero h1 span {

}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
