.footerbar {
  font-variant: italics;
  margin-top: -100px;
  position: fixed;
  bottom:4px;
  left:4px;
  text-shadow: 1px 1px 1px #000000;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  opacity: .8;
  font-family: 'Quicksand', sans-serif;
  z-index: 300;
  text-align: center;
  width: 100%;
}

.time {
  margin: 0 30px;
}

@media only screen and (max-width: 600px) {
  .footerbar {
    font-size: 14px;
    opacity: .8;
  }
}
