.footerbar {
  font-variant: italics;
  // margin-top: -100px;
  position: fixed;
  bottom:0px;
  left:4px;
  text-shadow: 1px 1px 1px #000000;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  text-align: center;
  width: 100%;
  .container {
    .footerBranding {
      color: #ffffff;
      .mission {
        text-transform: uppercase;
        font: normal 700 24px "Quicksand", sans-serif;
      }
      .logo {
        color: #ffffff;
      }
      .shadowed img{
        -webkit-filter: drop-shadow(1px 1px 1px #000000);
        filter: drop-shadow(1px 1px 1px #000000);
      }
    }
    .leftContainer {
      float: left;
      width: 403px;
      margin-left: 15px;
      height: 49px;
      .copyright {
        // float: left;
        display: inline-block;
        float: left;
        margin-left: 7px;
        margin-bottom: -7px;
      }
      .clear {
        clear: both;
      }
      .footerMenu {
        float: left;
        margin: 10px 0 0px 0;
        font: normal 400 14px "Quicksand", sans-serif;
        // text-transform: uppercase;
        letter-spacing: 3px;
        width:auto;
        a {
          display: inline-block;
          margin: 0 8px;
          color: #FFFFFF;
          text-decoration: none;
          opacity: 1;
          -webkit-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          -moz-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        a:hover {
          opacity: 1;
          color: rgb(209, 182, 61);
        }
    }
    }
    .certification {
      float: right;
      width: 193px;
      margin-right: 15px;
      height: 49px;
      opacity: 0.75;
      -webkit-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      img {
        display: block;
        width: 100%;
      }
    }
    .certification:hover {
      opacity: 1;
    }
    .horizontal {
      width: 100%;
      height: 2px;
      margin: 50px 0 20px;
      background: #FFFFFF;
      opacity: .2;
      display: block; 
    }
  }
}


.time {
  margin: 0 30px;
}

@media only screen and (max-width: 600px) {
  .footerbar {
    font-size: 14px;
    opacity: .8;
  }
}
