/* Footer */
footer {
  display: inline-block;
  position: relative;
  width: 100%;
  color: #e5e6eb;
  box-sizing: border-box;
  background-color: #151515;
  text-align: left;
  font-family: 'Travels', sans-serif;
  .brand {
    position: absolute;
    top: -20px;
    left: 8px;
    display: inline-block;
    background: url('/logo-animation-bck.png') no-repeat center center;
    background-size: 80%;
    margin: 0 10px 0 0;
    transform: scale(1);
    transition: all 0.8s ease 0s;
  }
  p, a {
    font-weight: 500;
    font-size: .85vw;
    color: #e5e6eb;
  }
  a {
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    line-height: inherit;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
  }
  .b {
    margin-left: 3vw;
  }
  .center {
    display: inline-block;
    vertical-align: top;
    float: left;
    a {
      position: relative;
    }
    &.b h4 {
      padding-bottom: 2%;
    }
    &.b a {
      display: inline-block;
      clear: left;
      line-height: 240%;
      float: left;
    }
  }
  .copyright {
    position: absolute;
    bottom: 2.2vw;
    right: 3vw;
    font-size: .7vw;
    color: #666;
  }
  .social {
    text-align: right;
    margin-right: 3vw;
    font-size: 0;
    h4 {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-style: normal;
      line-height: 150%;
      box-sizing: border-box;
      cursor: default;
      font-weight: 700;
      font-size: 14px;
    }
    a {
      display: inline-block;
      padding: 0 6px 0 6px;
      svg {
        width: 20px;
        height: 20px;
      }
      &:nth-of-type(2) {
        padding-left: 10px;
        padding-right: 3px;
      }
    }
    .st0 {
      fill: #d7d8df;
      transition: fill .25s ease-out;
    }
    a {
      &:last-of-type {
        padding-right: 0;
      }
      &:hover .st0 {
        fill: #ff3d59;
      }
    }
  }
  h4 {
    padding-bottom: 10px;
  }
}

/* Desktop rules */
@media all and (min-width: 767.5px) {
  footer {
    .center, .social {
      padding-top: 2%;
    }
    .center {
      &.a {
        padding-left: 50%;
        padding-bottom: 4vw;
      }
      a {
        &:after, &.selected {
          position: absolute;
          left: 0;
          bottom: 0;
          content: "";
          width: 100%;
          height: 1px;
          background-color: #FFF;
          transform: scaleX(0);
          transform-origin: calc(100% + 5px) 0;
          transition: transform .3s ease-out;
        }
      }
      &.b a {
        &:after, &.selected {
          bottom: 5px;
        }
      }
      a:hover:after {
        transform: scaleX(1);
        transform-origin: -5px 0;
      }
    }
  }
}

@media all and (min-width: 767px) and (max-width: 1120px) {
  footer {
    .copyright {
      font-size: 8px;
    }
    p, a {
      font-size: 9px;
    }
  }
}

@media all and (min-width: 1500px) {
  footer {
    .copyright {
      font-size: 11px;
    }
    p, a {
      font-size: 14px;
    }
  }
}

/* Mobile */
@media all and (max-width: 767.5px) {
  footer {
    padding: 40px 45px 0 45px;
    .logo {
      display: none;
    }
    .center {
      &.a {
        width: 100%;
      }
      &.b {
        margin-top: 35px;
        width: auto;
        margin-bottom: 80px;
      }
    }
    .social {
      margin-top: 35px;
      display: inline-block;
      float: right;
      margin-right: 0;
      text-align: left;
      a {
        padding: 0 5px 0 5px;
        svg {
          width: auto;
          height: 15px;
        }
      }
    }
    .center.b a {
      line-height: 200%;
    }
    .copyright {
      font-size: 10px;
      bottom: 30px;
      right: auto;
      left: 45px;
    }
    p {
      line-height: 150%;
    }
    a {
      text-decoration: underline;
    }
    p, a {
      font-size: 11px;
    }
    h4 {
      padding-bottom: 20px;
    }
  }
}
