
.gridItem {
  border: 1px solid #246469;
  border-radius:5px;
  color: #fff;
  flex: 1 1 200px;
  height: 20vw;
  overflow: hidden;
  font-family: 'Didact Gothic', sans-serif;
  filter: contrast(100%) brightness(100%);
  -webkit-transition: 0.5s -webkit-filter linear;
  -moz-transition: 0.5s -moz-filter linear;
  -moz-transition: 0.5s filter linear;
  -ms-transition: 0.5s -ms-filter linear;
  -o-transition: 0.5s -o-filter linear;
  transition: 0.5s filter linear;
  &:hover {
    .gridBackground {
      filter: contrast(85%) brightness(60%);
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    .gridTitle {
      opacity: 1;
      top: 40%;
      h2 {
        margin-top: 0;
        opacity: 1;
        color: white;
      }
      p {
        margin-top: 0;
        opacity: 1;
        color: #ec8112;
        font-weight: bold;
      }
    }

  }
  a {
    text-decoration: none;
    position: relative;
    top:0;
    display: block;
    height: 100%;
    width: 100%;
    .gridTitle {
      display: block;
      position: absolute;
      top: 40%;
      left: 0;
      width: 100%;
      // opacity: 0;
      -moz-transition: all 0.7s;
      -webkit-transition: all 0.7s;
      transition: all 0.7s;
      h2 {
        margin: 0;
        padding: 10px;
        text-align: center;
        opacity: 0;
        margin-top: -30px;
        -moz-transition: all 0.7s;
        -webkit-transition: all 0.7s;
        transition: all 0.7s;
      }
      p {
        text-align: center;
        padding: 10px;
        margin-top: 60px;
        opacity: 0;
        -moz-transition: all 1.2s;
        -webkit-transition: all 1.2s;
        transition: all 0.7s;
      }
    }
  }
  .gridBackground {
    position: relative;
    top:0;
    left: 0;
    max-width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1506755027586-c15c804d854f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=741ef0d381d9cec2bf29a405cb82066c');
    background-repeat: none;
    background-size: cover !important;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .marvel {
    background: url(./marvel.jpg) center center no-repeat scroll rgb(79, 164, 220);
  }
  .aib {
    background: url(./aib.jpg) center center no-repeat scroll rgb(79, 164, 220);
  }
  .ebs {
    background: url(./ebs.jpg) center center no-repeat scroll rgb(79, 164, 220);
  }
  .toyota {
    background: url(./toyota.jpg) center center no-repeat scroll rgb(79, 164, 220);
  }
  .audi {
    background: url(./audi.jpg) center center no-repeat scroll rgb(79, 164, 220);
  }
  .renault {
    background: url(./renault.jpg) center center no-repeat scroll rgb(79, 164, 220);
  }
  .ford {
    background: url(./ford.jpg) center center no-repeat scroll rgb(79, 164, 220);
  }
  .brazil {
    background: url(./brazil.jpg) center center no-repeat scroll rgb(79, 164, 220);
  }
}
.grid0 {
  -webkit-animation-delay: 0s !important; /* Safari 4.0 - 8.0 */
    animation-delay: 0s !important;
}
.grid1 {
  -webkit-animation-delay: 0.3s !important; /* Safari 4.0 - 8.0 */
    animation-delay: 0.3s !important;
}
.grid2 {
  -webkit-animation-delay: 0.6s !important; /* Safari 4.0 - 8.0 */
  animation-delay: 0.6s !important;
}
.grid3 {
  -webkit-animation-delay: 0.9s !important; /* Safari 4.0 - 8.0 */
  animation-delay: 0.9s !important;
}
.grid4 {
  -webkit-animation-delay: 1.2s !important; /* Safari 4.0 - 8.0 */
  animation-delay: 1.2s !important;
}
.grid5 {
  -webkit-animation-delay: 1.5s !important; /* Safari 4.0 - 8.0 */
  animation-delay: 1.5s !important;
}
.grid6 {
  -webkit-animation-delay: 1.8s !important; /* Safari 4.0 - 8.0 */
  animation-delay: 1.8s !important;
}
.grid7 {
  -webkit-animation-delay: 2.1s !important; /* Safari 4.0 - 8.0 */
  animation-delay: 2.1s !important;
}
.grid8 {
  -webkit-animation-delay: 2.4s !important; /* Safari 4.0 - 8.0 */
  animation-delay: 2.4s !important;
}

@media only screen and (max-width: 1300px) {
  .gridItem {
    height: 39vw;
  }
}

@media only screen and (max-width: 610px) {
  .gridItem {
    height: 50vw;
  }
}
