.section {
  height: 100%;
  min-height: 250px;
  background-size: cover !important;
  overflow: hidden;
  position: relative;
  display:block;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: left;
  box-sizing: border-box;
}
.inset {
  // -webkit-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
  // box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
  opacity:1;
}
.info {
  display: block;
  height: 100%;
  min-height: 250px;
  position: relative;
  top:0px;
  left: 0px;
}
.blue {
  background: rgba(44,7,61, 0);
}
.orange {
  background: rgba(44,7,61, 0);
  .smallBox {
    left: auto !important;
    right: 8%;
  }
}
.imageBg {
  width: 100%;
  height: 100%;
}
.oneBg {
  background: url(./section-1-twitter-heart.png) center right no-repeat scroll;
}
.twoBg {
  background: url(./section2-conversions-high.png) center left no-repeat scroll;
}
.threeBg {
  background: url(./section3-boy.png) center right no-repeat scroll;
}
.fourBg {
  background: url(./section4.png) center left no-repeat scroll;
}
.fiveBg {
  background: url(./section5-system.png) center right no-repeat scroll;
}
.sixBg {
  margin-left: 10vw;
  background: url(./section6-idea.png) center left no-repeat scroll;
}
.contactBg {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  background: url(./section-contact.png) center right no-repeat scroll;
  margin-left: -10px;
  animation: pulse 3.7s infinite;
  -webkit-animation: pulse 3.7s infinite;
}
.contactShadow {
  width: 20%;
  height: 25px;
  background: #383838;
  border-radius: 50%;
  opacity: 0.4;
  animation: shadowPulse 3.7s infinite;
  -webkit-animation: shadowPulse 3.7s infinite;
  position: absolute;
  left: 19.5%;
  bottom: 7px;
}
@keyframes pulse{
  0%{
    transform: scale(-0.998, 0.99);
  }
  20%{
    transform: scale(-1.02, 1.02);
  }
  50%{
    transform: scale(-0.998, 0.99);
  }
  100% {
    transform: scale(-0.998, 0.99);
  }
}
@-webkit-keyframes pulse{
  0%{
    -webkit-transform: scale(-0.998, 0.99);
  }
  50%{
    -webkit-transform: scale(-1.02, 1.02);
  }
  100%{
    -webkit-transform: scale(-0.998, 0.99);
  }
}

@keyframes shadowPulse{
  0%{
    transform: scale(-0.998, 0.99);
  }
  20%{
    transform: scale(-1.12, 1.12);
  }
  50%{
    transform: scale(-0.958, 0.94);
  }
  100% {
    transform: scale(-0.998, 0.99);
  }
}
@-webkit-keyframes shadowPulse{
  0%{
    -webkit-transform: scale(-0.998, 0.99);
  }
  50%{
    -webkit-transform: scale(-1.02, 1.02);
  }
  100%{
    -webkit-transform: scale(-0.998, 0.99);
  }
}

#one {
  z-index: 150;
}

#two {
  // background: url(./panel1white.jpg) center center no-repeat scroll #ffffff;
  z-index: 160;
}

#three {
  // background: url(./panel2.jpg) center center no-repeat scroll #DC554F;
  z-index: 170;
}

#four {
  // background: url(./panel2white.jpg) center center no-repeat scroll #ffffff;
  z-index: 180;
}

#five {
  // background: url(./panel3.jpg) center center no-repeat scroll #DC554F;
  z-index: 190;
}

#six {
  // background: url(./panel3white.jpg) center center no-repeat scroll #ffffff;
  z-index: 200;
}


#seven {
  // background: url(./panel4.jpg) center center no-repeat scroll #DC554F;
  z-index: 210;
}


#nine {
  // background: url(./panel4white.jpg) center center no-repeat scroll #ffffff;
  z-index: 220;
}

#ten {
  // background: url(./panel5.jpg) center center no-repeat scroll #DC554F;
  z-index: 230;
}

#eleven {
  // background: url(./panel5white.jpg) center center no-repeat scroll #ffffff;
  z-index: 240;
}

#twelve {
  // background: url(./panel6.jpg) center center no-repeat scroll #DC554F;
  z-index: 250;
}

.infoOutView {
  -webkit-transform: translate3d(0,-100px,0);
  transform: translate3d(0,-100px,0);
  opacity: 0;
}
.infoInView {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
#contact {
  z-index: 240;
  .smallBox {
    margin-top: 2%;
  }
}
#about {
  background: url(./about.jpg) center center no-repeat scroll #FF905E;
}
.smallBox {
  position: absolute;
  top: 15%;
  left: 8%;
  z-index: 2;
  width: 506px;
  color: white;
  line-height: 1.42857;
  font-family: 'Didact Gothic', sans-serif;
  transition: all 0.4s ease 0s;
  background-color: rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 1px 3px rgba(0,0,0,.6);
  padding: 30px;
  .smallHeader {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    display: block;
    -webkit-transition-delay: .07s;
    transition-delay: .07s;
  }
  .outView {
    -webkit-transform: translate3d(-100px,0,0);
    transform: translate3d(-100px,0,0);
    opacity: 0;
  }
  .inView {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: opacity .3s,-webkit-transform 1s cubic-bezier(0.2,1,.3,1);
    transition: opacity .3s,transform 1s cubic-bezier(0.2,1,.3,1);
  }
  .header {
    font-size: 46px;
    font-weight: 400;
    font-style: normal;
    margin: 1px 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition-delay: .13s;
    transition-delay: .13s;

  }
  .line {
    display: block;
    width: 40px;
    height: 2px;
    background: #fff;
    margin: 30px 0 33px 5px;
    -webkit-transition-delay: .21s;
    transition-delay: .21s;
  }
  .line:after {
    content: " ";
  }
  .description {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 10px;
    -webkit-transition-delay: .31s;
    transition-delay: .31s;
  }
  .btn {
    margin-top: 15px;
    display: inline-block;
    height: 60px;
    padding: 0 25px;
    color: #fff;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Colfax,sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    background: rgba(0,0,0,0);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
    min-width: 200px;
    outline: 0;
    position: relative;
    z-index: 0;
    transition: all .3s;
    -webkit-transition-delay: .51s;
    transition-delay: .51s;
  }
  .btn:hover {
    color: #fff;
    border-color: #16a7f6;
    background-color: #16a7f6;
  }
}

@media only screen and (max-height: 640px) {
  .section {
    height: 85%;
  }
}

@media only screen and (max-height: 590px) {
  .section {
    height: 75vh;
  }
}
@media only screen and (max-height: 450px) {
  .section {
    height: 50%;
  }
}
@media only screen and (max-height: 350px) {
  .section {
    height: 30%;
  }
}
@media only screen and (max-width: 600px) {
  .smallBox {
    width: 98%;
    left: 0px;
    margin-left: 1%;
    line-height: 1.5;
    padding: 40px;
    .smallHeader {
      font-size: 18px;
      padding-bottom: 10px;
    }
    .header {
      font-size: 24px;
    }
    .description {
      font-size: 18px;
    }
    .line {
      width: 30px;
      margin: 20px 0 23px 5px;
    }
  }

}

@media only screen and (max-width: 400px) {
  .contactBg{
    margin-left: 0;
  }
  .smallBox {
    width: 98%;
    left: 0px;
    margin-left: 1%;
    line-height: 1.5;
    padding: 40px;
    right: auto !important;
    top: 5%;
    .smallHeader {
      font-size: 19px;
      padding-bottom: 10px;
    }
    .header {
      font-size: 23px;
    }

    .description {
      font-size: 20px;
    }
    .line {
      width: 20px;
      margin: 10px 0 13px 5px;
    }
  }
  #about {
    .smallBox {
      padding: 18px;
      .smallHeader {
        font-size: 18px;
        padding-bottom: 8px;
      }
      .header {
        font-size: 23px;
      }
      .description {
        font-size: 18px;
      }
      .line {

      }
    }
  }
  .sixBg {
    margin-left: 4vw;
  }
  .contactShadow {
    display: none;
  }
}
@media only screen and (max-height: 400px) {
  .contactBg{
    margin-left: 0;
  }
  .contactShadow {
    display: none;
  }
  .smallBox {
    font-size: 12px;
    .smallHeader {
      font-size: 14px;
      padding-bottom: 10px;
    }
    .header {
      font-size: 20px;
    }

    .description {
      font-size: 14px;
    }
    .line {
      width: 20px;
      margin: 10px 0 13px 5px;
    }
    .btn {
      height: 40px;
      font-size: 10px;
      padding: 0 22px;
      line-height: 40px;
    }
  }
  #about {
    .info {
      top: 24px;    
      .smallBox {
        padding: 15px;
        font-size: 15px;
        width: 565px;
        paddint-top: 20px;
        .smallHeader {
          font-size: 14px;
          padding-bottom: 5px;
        }
        .header {
          font-size: 19px;
        }
        .description {
          font-size: 15px;
        }
        .line {

        }
      }
    }
  }
}
