.section {
  height: 100%;
}
#one {
  /* background: url(http://cloud.niklausgerber.com/432W0y1g2h05/orange.png) center center no-repeat scroll #FF905E; */
  background: url(./panel1.jpg) center center no-repeat scroll #FF905E;
}

#two {
  background: url(./panel2.jpg) center center no-repeat scroll #8F2041;
}

#three {
  background: url(./panel3.jpg) center center no-repeat scroll #DC554F;
}

#four {
  background: url(./panel4.jpg) center center no-repeat scroll #520E24;
}

#five {
  background: url(./panel5.jpg) center center no-repeat scroll #FFDB77;
}

#six {
  background: url(http://cloud.niklausgerber.com/2N002H122B0d/blue.png) center center no-repeat scroll #16a7f6;
}

#seven {
  background: url(http://cloud.niklausgerber.com/2N002H122B0d/blue.png) center center no-repeat scroll #DC554F;
}

.info {
  position: relative;
  top: 15%;
  left: 8%;
  z-index: 2;
  // margin-top: -140px;
  width: 406px;
  color: white;
  line-height: 1.42857;
  font-family: 'Didact Gothic', sans-serif;
  transition: all 0.4s ease 0s;
  .smallHeader {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    display: block;
    -webkit-transition-delay: .07s;
    transition-delay: .07s;
  }
  .outView {
    -webkit-transform: translate3d(-100px,0,0);
    transform: translate3d(-100px,0,0);
    opacity: 0;
  }
  .inView {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: opacity .3s,-webkit-transform 1s cubic-bezier(0.2,1,.3,1);
    transition: opacity .3s,transform 1s cubic-bezier(0.2,1,.3,1);
  }
  .header {
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    margin: -6px 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition-delay: .13s;
    transition-delay: .13s;

  }
  .line {
    display: block;
    width: 40px;
    height: 2px;
    background: #fff;
    margin: 30px 0 33px 5px;
    -webkit-transition-delay: .21s;
    transition-delay: .21s;
  }
  .line:after {
    content: " ";
  }
  .description {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 10px;
    -webkit-transition-delay: .31s;
    transition-delay: .31s;
  }
  .btn {
    margin-top: 15px;
    display: inline-block;
    height: 60px;
    padding: 0 25px;
    color: #fff;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Colfax,sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    background: rgba(0,0,0,0);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
    min-width: 200px;
    outline: 0;
    position: relative;
    z-index: 0;
    transition: all .3s;
    -webkit-transition-delay: .51s;
    transition-delay: .51s;
  }
  .btn:hover {
    color: #fff;
    border-color: #16a7f6;
    background-color: #16a7f6;
  }
}