.videoMain {
  background-color: black;
  width: 100%;
  height: 100%;
}

.backgroundRow {
  position: relative;
  z-index: 2;
  padding: 30px 0;
}

.section:before {
  padding: 0;
  opacity: 0.75;
  height: 340px;
  width: calc(100% - -20%);
  position: absolute;
  left: -30px;
  z-index: -1;
}

.backgroundRow:before {
  content: "";
  background-image: linear-gradient(-90deg, #92D798 0%, #62AD8E 48%, #51A4A7 100%);
  transform: rotate(5deg);
  margin-top: 150px;
  z-index: -1;
}

.pingBackground:before {
  content: "";
  background-image: linear-gradient(-90deg, #D792C5 0%, #7462AD 48%, #2E4386 100%);
  transform: rotate(-5deg);
  margin-top: -107px;
  z-index: -1;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}