.home {
  dd {
    margin-bottom: 15px;
  }
}

$cyan: blue;
$humility: blue;
.masthead {
  background: #13092d;
  padding: 0px 20px;
  color: white;
  text-align: center;
  display: block;
  height: 60vw;
  width: 100%;
  .masterCanvas {
    margin-left: -20px;
    margin-top: -80px;
  }
  h1 {
    color: #ddd;
    font-size: 4em;
    position: relative;
    top: 100px;
    left: 10px;
  }
  h2 {
    color: #ddd;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $humility;
    a {
      color: $humility;
    }
  }
  .github {
    font-size: 1.5em;
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}

.home-page-layout .section:before {
    padding: 0;
    opacity: 0.75;
    height: 340px;
    width: calc(100% - -20%);
    position: absolute;
    left: -30px;
    z-index: -1;
}

.custom-home-page-row2:before {
  content: "";
  background-image: linear-gradient(-90deg, #92D798 0%, #62AD8E 48%, #51A4A7 100%);
  transform: rotate(5deg);
  margin-top: 150px;
  z-index: -1;
}
