.app {
  height: 100%;

  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
  #envolopeIcon {
    font-size: 16px;
  }
  @import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Quicksand);
  // @import url(https://fonts.googleapis.com/css?family=Quicksand);
  // @import url(AvenirLTStd-Light);

  @mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background: darken($bg, 8%);
      transition: all 0.3s ease;
    }
    &:active {
      background: darken($bg, 25%);
    }
  }
  .btn {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    border: 0;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 4px;
    a {
      padding: 0;
      color: white;
    }
  }
  .btnGreen {
    @include button-bg(#2ecc71);
  }
  .btnBlue {
    @include button-bg(#e6272d);
    a {
      color: #fff !important;
    }
  }
  .btnYellow {
    @include button-bg(#f1c40f);
  }
  .btnRed {
    @include button-bg(#e74c3c);
  }
}

.appContent {
  margin: 50px 0; // for fixed navbar
}

html, body {
  height:100%;
  margin:0;
}

body {
  background-color: #f5f5f5;
}

.content {
  height:100%;
  min-height:100%;/*for mozilla*/
}