.app {
  height: 100%;
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
  #envolopeIcon {
    font-size: 16px;
  }
  @import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Quicksand);
  // @import url(https://fonts.googleapis.com/css?family=Quicksand);
  // @import url(AvenirLTStd-Light);

@font-face {
    font-family:'Travels';
    src: url('/fonts/TT_demibold.woff2') format('woff2'), url('/fonts/TT_demibold.woff') format('woff'), url('/fonts/TT_demibold.ttf') format('truetype');
    font-weight:500;font-style:normal;font-stretch:normal;unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Travels';
    src: url('/fonts/TT_m.woff2') format('woff2'), url('/fonts/TT_m.woff') format('woff'), url('/fonts/TT_m.ttf') format('truetype');
    font-weight:600;font-style:normal;font-stretch:normal;unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Travels';
    src: url('/fonts/TT_b.woff2') format('woff2'), url('/fonts/TT_b.woff') format('woff'), url('/fonts/TT_b.ttf') format('truetype');
    font-weight:700;font-style:normal;font-stretch:normal;unicode-range: U+0020-00FE;
}

  @mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background: darken($bg, 8%);
      transition: all 0.3s ease;
    }
    &:active {
      background: darken($bg, 25%);
    }
  }
  .btn {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    border: 0;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 4px;
    a {
      padding: 0;
      color: white;
    }
  }
  .btnGreen {
    @include button-bg(#2ecc71);
  }
  .btnBlue {
    @include button-bg(#e6272d);
    a {
      color: #fff !important;
    }
  }
  .btnYellow {
    @include button-bg(#f1c40f);
  }
  .btnRed {
    @include button-bg(#e74c3c);
  }
}

.appContent {
  margin: 50px 0; // for fixed navbar
}

html, body {
  height:100%;
  margin:0;
}

body {
  background-color: #2e1438;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #8f8f8f;
  font-family: "Cardo", serif;
  font-weight: 300;
}

.content {
  min-height:800px;/*for mozilla*/
  z-index: 2;
  position: relative;
  top:0;
  left: 0;
  display: block;
}