.productItem {
  a {
     display: block;
    -webkit-box-shadow: 0px 16px 40px 0px rgba(36, 64, 61, 0.33);
    -moz-box-shadow: 0px 16px 40px 0px rgba(36, 64, 61, 0.33);
    box-shadow: 0px 16px 40px 0px rgba(36, 64, 61, 0.33);
    transition: all 0.2s ease-in-out;
    background: white;
    border-top-width: 0;
    border-bottom-width: 2px;
    border-radius: 3px;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 25px 0;
  }
}
